@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.homepage .slick-slide img {
  width: 100%;
}
.homepage .slick-arrow {
  width: 25px;
  height: 50px;
  z-index: 100;
}
.homepage .slick-arrow:before {
  color: white;
  font-size: 50px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.homepage .slick-arrow.slick-prev {
  left: 20px;
}
.homepage .slick-arrow.slick-prev:before {
  content: "❮";
}
.homepage .slick-arrow.slick-next {
  right: 20px;
}
.homepage .slick-arrow.slick-next:before {
  content: "❯";
}
.homepage .main-slider {
  margin-top: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.homepage .render .game_title {
  margin: 30px 0 10px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
.homepage .render .game_title.margin-less {
  margin-top: 10px;
}
.homepage .render .slick-slide {
  padding: 0 3px;
}
.homepage .render .slick-disabled {
  display: none !important;
}
.homepage .render .slick-arrow {
  width: 65px;
  height: 100%;
  z-index: 100;
}
.homepage .render .slick-arrow:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.homepage .render .slick-arrow.slick-prev {
  left: 2px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(242, 242, 242, 0.25) 100%);
}
.homepage .render .slick-arrow.slick-next {
  right: 2px;
  background: linear-gradient(to right, rgba(242, 242, 242, 0.25) 0%, rgba(0, 0, 0, 0.75) 100%);
}
.homepage .render ul li {
  float: left;
  padding: 0 3px 6px;
  width: 20%;
}
.homepage .render ul li span {
  display: block;
  height: calc(44);
  margin-top: 7px;
  font-size: 11;
  font-weight: 700;
  line-height: 22;
  text-align: center;
  text-transform: uppercase;
  color: green;
}
.homepage .render ul li a {
  display: block;
}
.homepage .render ul li a img {
  width: 100%;
}
